.wrapper {
    width: 100%;
    height: 523px;
    overflow: hidden;
    position: relative;
}

.wrapper #box {
    position: relative;
}

.wrapper #box li {
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper #box li img {
    width: 100%;
    height: 523px;
}

.wrapper #uu {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 10px;
    width: 200px;
}

.wrapper #uu li {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    text-align: center;
    border-radius: 50%;
    cursor: default;
    background-color: #abc;
    opacity: 0.8;
}

.wrapper #uu li.current {
    background-color: yellow;
}

.wrapper .container {
    position: relative;
}

.wrapper .container ul {
    width: 200px;
    height: 451px;
    z-index: 15;
    position: absolute;
    top: 20px;
    left: 0;
    background: #ccc;
    opacity: 0.9;
    padding-top: 31px;
}

.wrapper .container ul li {
    height: 60px;
    padding: 0 48px 0 40px;
    line-height: 60px;
}

.wrapper .container ul>li:hover {
    background: white;
}

.wrapper .container ul li a {
    color: black;
    font-size: 14px;
}

.wrapper .container ul li .icon-jiantou {
    position: absolute;
    right: 28px;
    width: 7px;
    height: 1px;
    font-size: 14px;
}

.main {
    width: 100%;
    background: #eee;
    height: 1500px;
    position: relative;
    overflow: hidden;
}

.main ul {
    margin-top: 10px;
    height: 140px;
}

.main ul li {
    float: left;
    margin-right: 9px;
}

.main ul li:nth-child(4) {
    margin-right: 0;
}

.main ul li img {
    width: 293px;
    height: 140px;
}

.main ul li:hover {
    box-shadow: 1px 3px 2px 3px #ccc;
}

.main h2 {
    height: 87px;
    line-height: 87px;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.main h2 span:hover {
    color: red;
}

.main h2 span:hover a {
    color: red;
}

.main .container {
    position: relative;
}

.main h2 span {
    position: absolute;
    right: 0;
    color: black;
    font-size: 14px;
}

.main h2 span a {
    color: black;
    font-size: 12px;
}

.main ol {
    height: 511px;
}

.main ol li {
    float: left;
    width: 394px;
    height: 511px;
    background: white;
    margin-right: 9px;
    text-align: center;
}

.main ol li:hover {
    box-shadow: 1px 3px 2px 4px #ccc;
}

.main ol li:nth-child(3) {
    margin-right: 0;
}

.main ol li a img {
    width: 230px;
    height: 230px;
    margin-top: 58px;
}

.main ol li h3 {
    padding-top: 28px;
    font-size: 19px;
}

.main ol li .p1 {
    padding: 11px 0 48px;
    font-size: 14px;
}

.main ol li .p2 {
    font-size: 17px;
    color: red;
}