body {
    min-width: 1200px;
}

#hh {
    position: fixed;
    width: 50px;
    height: 150px;
    right: 0;
    bottom: 60px;
    z-index: 100;
    background: white;
    box-shadow: 1px 1px 2px 3px #ccc;
}

#hh li {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#hh li a {
    color: black;
}

#hh li .icon-gouwuche {
    font-size: 27px;
}

#hh li .icon-aixin {
    font-size: 20px;
}

#hh li .icon-icon-test {
    font-size: 27px;
}

#vivo {
    width: 100%;
}

.header {
    width: 100%;
    height: 44px;
    background: black;
}

.header .logo {
    line-height: 43px;
    width: 200px;
}

.header .nav li {
    float: left;
}

.header .nav li:hover a {
    color: #ccc;
}

.header .nav li a {
    display: block;
    line-height: 44px;
    color: white;
    padding: 0 22px;
    font-size: 14px;
}

.header .tub {
    line-height: 44px;
    float: right;
}

.header .tub li {
    float: left;
}

.header .tub li:nth-child(2)>a {
    color: white;
}

.header .tub .icon-sousuo:hover {
    color: #ccc;
}

.header .tub .icon-ren:hover {
    color: #ccc;
}

.header .tub .icon-sousuo {
    margin-right: 80px;
    color: white;
}

.header .tub .rent ul {
    width: 200px;
    height: 270px;
    background: white;
    display: none;
    position: fixed;
    z-index: 20;
    right: 155px;
    padding-top: 30px;
}

.header .tub .rent ul li {
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.header .tub .rent ul li .iconfont {
    position: absolute;
    left: 30px;
    font-size: 18px;
}

.header .tub .rent ul li .icon-aixin {
    font-size: 16px;
}

.header .tub .rent ul li a {
    color: black;
}

.header .tub .rent ul li:hover {
    background: skyblue;
}

.header .tub .rent ul li:hover a {
    color: yellow;
}

.header .tub .rent:hover ul {
    display: block;
}



.footer {
    width: 100%;
}

.footer .top {
    width: 100%;
    height: 89px;
    padding: 30px 0 70px;
}

.footer .top ul {
    height: 29px;
    padding: 30px 0;
    border-bottom: 1px solid #dedede;
}

.footer .top ul li {
    float: left;
    width: 300px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.footer .top ul li a {
    font-size: 20px;
    color: black;
    font-weight: 600px;
}

.footer .center {
    height: 260px;
    border-bottom: 1px solid #f1ecec;
}

.footer .center ul {
    float: left;
    width: 960px;
}

.footer .center ul li {
    float: left;
    width: 188px;
    height: 167px;
}

.footer .center ul li dt {
    font-size: 12px;
    color: black;
}

.footer .center ul li dt {
    margin-bottom: 15px;
}

.footer .center ul li dd a {
    font-size: 12px;
    color: black;
}

.footer .center ul li dd:hover a {
    color: skyblue;
}

.footer .center ol {
    float: right;
    width: 240px;
}

.footer .center ol li {
    text-align: right;
}

.footer .center ol li a {
    font-size: 24px;
}

.footer .center ol li:nth-child(2) {
    font-size: 22px;
    padding: 20px 0 6px 0;
}

.footer .center ol li:nth-child(3) {
    font-size: 12px;
    color: #abc;
}

.footer .center ol li a img {
    width: 35px;
    height: 30px;
    margin-right: 16px;
}

.footer .bottom {
    height: 100px;
}

.footer .bottom p {
    font-size: 10px;
    line-height: 100px;
    position: relative;
}

.footer .bottom p a {
    color: black;
}

.footer .bottom p a img {
    width: 18px;
    height: 18px;
    margin-top: -7px;
}

.footer .bottom p span {
    position: absolute;
    right: 0;
}

.footer .bottom p span a {
    font-size: 12px;
    margin-right: 25px;
}

.footer .bottom p span .iconfont {
    margin-right: 0;
    margin-left: 25px;
}