body, html{
	font: 12px "微软雅黑" Arial;
	background: #f5f5f5;
}
li{
	list-style: none;

}
*{
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, b{
	font-weight: normal;
	font-size: 100%;
}
i, em{
	font-style: normal;
}
a{
	text-decoration: none;
}
input{
	outline: none;
}
.clearfix:after{
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.container{
	width: 1234px;
	margin: 0 auto;
}
#header-wrap{
	
	height: 32px;
	border: 1px solid #e5e5e5;
	background: #f2f2f2;
}
.header{
	
	height: 32px;
	line-height: 32px;
	background: #f2f2f2;
}
.header .login{
	float: left;
}

.header .login .wel{
	font-size: 12px;
	color: #999999;
}
.header .login a{
	font-size: 12px;
	color: #999999;
}
.header .login a:hover{
	color: red;
}
.header ul {
	float: right;
}
.header ul li{
	float: left;
	margin-right: 16px;
	font-size: 12px;
	color: #999999;
}
.header ul li a{
	font-size: 12px;
	color: #999999;
}
.header ul li a:hover{
	color: red;
	/*text-decoration: underline;*/
}
.header ul li .line{
	margin-right: 10px;
}
.header ul li a i{
	font-size: 8px;
	margin-left: 2px;
	
}
.header ul li span{
	color: red;
	margin-right: 3px;
}


 /*头部*/

#top-wrap{
	height: 132px;
	background: #fff;
}
.top{
	height: 132px;
	/*padding-top: 31px;*/
	box-sizing: border-box;
	position: relative;
}
.top .logo{
	float: left;
	position: absolute;
	top: 2px;
	left: -45px;
}
.top .logo a{
	display: block;
	width: 290px;
	height: 130px;
	background: url(../images/logo.gif)no-repeat;
	text-indent: -9999px;
}

.top .search{
	float: left;
	/*width: 299px;*/
	margin-left: 319px;
	margin-top: 30px; 
	box-sizing: border-box;
	
}
.search .txt{
	width: 491px;
	height: 40px;
	border: 2px solid #ff0036;
	border-right: 0;
	padding-left: 5px;
	float: left;
	box-sizing: border-box;
	
}
.search .sub{
	width: 115px;
	height: 40px;
	background: #ff0036;
	border: 0;
	margin-left: -5px;
	/*margin-top: 1px;*/
	color: #fff;
	float: left;
	box-sizing: border-box;

}

.search .resou a{
	display: inline-block;
	width: 60px;
	height: 14px;
	line-height: 14px;
	border-right: 1px solid #999;
	font-size: 14px;
	color: #999;
	text-align: center;
}
.search .resou a:hover{
	font-size: 14px;
	color: #ff0036;
}

 /*nav*/
#nav-wrap{
	height: 36px;
}
.nav{
	height: 36px;
	border-bottom: 3px solid red;
}
.nav .nav-l{
	width: 200px;
	height: 36px;
	background: red;
	color: #fff;
	line-height: 36px;
	float: left;
}
.nav .nav-l i{
	margin-right: 10px;
	margin-left: 15px;
}
.nav .nav-l{
	font-weight: 900;
}
.nav ul{
	margin-left: 8px;
}
.nav li{
	float: left;
	/*width: 78px;*/
	margin-right: 10px;
	margin-left: 10px;
	height: 36px;
	line-height: 36px;
}
.nav li a{
	color: #000000;
}
.nav li a:hover{
	color: red;
}
.nav .icon-tianmaoguoji1{
	color: blue;
}
#banner{
	position: relative;
}
.swiper-container {
    width: 1688px;
    height: 700px;
} 

.swiper-container .swiper-wrapper img{
	width: 1688px;
	height: 700px;
}



#banner-l{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 200px;
	height: 99%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	z-index: 9;
	top: 0;
	left: 142px;
}
#banner-l li{
	height: 31px;
	line-height: 31px;
}
/* 二级菜单开始 */
#banner-l li:nth-child(6) > ul{
	width: 900px;
	height: 561px;
	background: #fff;
	position: absolute;
	left: 200px;
	top: 0;
	padding-left: 20px;
	padding-top: 15px;
	box-sizing: border-box;
	display: none;
}
#banner-l li:nth-child(6):hover >ul{
	display: block;

}
#banner-l li:nth-child(6) > ul >li{
   height: 50px;
}
#banner-l li:nth-child(6) > ul >.tupian a{
	display: block;
	width: 261px;
	height: 561px;
	background: url(../images/img_09_03.jpg);
	position: absolute;
	right: 0;
	top: 0;
}
#banner-l li:nth-child(6) > ul >li span{
	font-size: 16px;
	font-weight: 700;
	color: #333;
}
/* 改变span样式 */
/* #banner-l li span{
	font-size: 16px;
	font-weight: 700;
	color: #333;
} */
#banner-l li:nth-child(6) > ul >li b{
  display: inline-block;
  width: 500px;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px dashed #eee;
}
#banner-l li:nth-child(6) > ul >li b a{
	display: inline;
	color: #999;
	font-weight: normal;
	font-size: 14px;
}
#banner-l li:nth-child(6) > ul >li b a:hover{
	color: blue;
}

#banner-l li:hover {
	background: #fff;
	color: blue;
}
#banner-l li a:hover{
	color: blue;
}
#banner-l li a{
	display: block;
		height: 31px;
	line-height: 31px;
	width: 200px;
	color: #fff;
	margin-left: 20px;
}


/* 模块 */

#banxin-wrap{
	height: 2000px;
}

.banxin{
	height: 2000px;
}
.banxin .block1 {
	width: 1229px;
	height: 370px;
	margin-top: 30px;
}
.banxin .block1 a{
	display: block;
	width: 1229px;
	height: 370px;
	background: url(../images/images_03.jpg);
}
.banxin .block2 {
	width: 1229px;
	height: 330px;
	margin-top: 30px;
} 
.banxin .block2 ul{
	width: 1229px;
	height: 330px;
}
.banxin .block2 ul li{
	float: left;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	box-sizing: border-box;
}
.banxin .block2 ul li a{
	display: block;
	width: 121px;
	height: 108px;
	background: url(../images/images_07.jpg);
}
.banxin .block2 ul li a:hover{
	/* background: #000; */
	opacity: 0.5;
}
.banxin .block2 ul li:nth-child(even) a:hover{
	/* background: #000; */
	opacity: 0.3;
}
.banxin .block2 ul li:nth-child(even) a{
	display: block;
	width: 121px;
	height: 108px;
	background: url(../images/niujin.jpg);
}
.banxin .block3{
	height: 650px;
	margin-top: 25px;
}
.banxin .block3 .title{
	height: 30px;

}
.banxin .block3 .title span{
	display: inline-block;
	width: 214px;
	height: 25px;
	background: url(../images/images02.jpg);
}
.banxin .block3 .title p{
	float: right;
}
.banxin .block3 .title p a{
	/* display: inline-block; */
	margin-right: 15px;
	font-size: 13px;
	color: #000000;
}
.banxin .block3 .block3-b{
	height: 650px;
}
.banxin .block3 .block3-b .block3-b-l{
	width: 235px;
	height: 618px;
	float: left;
}
.banxin .block3 .block3-b .block3-b-l a{
	display: block;
	width: 235px;
	height: 618px;
	background: url(../images/images_13.jpg);
}
.banxin .block3 .block3-b .block3-b-r{
	width: 980px;
	height: 618px;
	float: right;
}
.banxin .block3 .block3-b .block3-b-r .paper{
	width: 480px;
	height: 300px;
	float: left;
	margin-bottom: 10px;
}
.banxin .block3 .block3-b .block3-b-r .paper span{
	display: block;
	float: left;
	width: 240px;
	height: 50px;
	 background: #F1F1F1;
	 color: #000000;
	 text-align: center;
	 line-height: 50px;
	 cursor: pointer;
}
.banxin .block3 .block3-b .block3-b-r .paper span:hover{
	background: #00B262;
	color: #fff;
}
.banxin .block3 .block3-b .block3-b-r .paper span:nth-child(2){
  background: #F1F1F1;
}
.banxin .block3 .block3-b .block3-b-r .paper span:nth-child(2):hover{
	background: #00B262;
	color: #fff;

  }
  .banxin .block3 .block3-b .block3-b-r .paper .paper1{
	   display: block;
	   width: 480px;
	   height: 250px;
	   background: url(../images/images_16.jpg);
	   background-size: 100%;
	   margin-top: 50px;
  }
  .banxin .block3 .block3-b .block3-b-r .b01 li{
		 width: 237px;
		 height: 302px;
		 float: left;
		 margin-left: 10px;
		 margin-bottom: 10px;
  }
   
  /* 边框hover */
  .banxin  .block3-b .block3-b-r .b01 li a:hover{
	border: 1px solid red;
	opacity: 0.8;
  }
  .banxin .block3 .block3-b .block3-b-r .b01 li:nth-child(3),li:nth-child(4){
	  margin-left: 0px;
  }
  .banxin .block3 .block3-b .block3-b-r .b01 li a{
	display: block; 
	width: 237px;
	height: 302px;
	background: url(../images/images_20.jpg);
}




.banxin .block4{
	height: 650px;
	margin-top: 25px;
}
.banxin .block4 .title{
	height: 30px;

}
.banxin .block4 .title span{
	display: inline-block;
	width: 214px;
	height: 25px;
	background: url(../images/img_05_03.jpg);
}
.banxin .block4 .title p{
	float: right;
}
.banxin .block4 .title p a{
	/* display: inline-block; */
	margin-right: 15px;
	font-size: 13px;
	color: #000000;
}
.banxin .block4 .block3-b{
	height: 650px;
}
.banxin .block4 .block3-b .block3-b-l{
	width: 235px;
	height: 618px;
	float: left;
}
.banxin .block4 .block3-b .block3-b-l a{
	display: block;
	width: 235px;
	height: 618px;
	background: url(../images/img_05_06.jpg);
}
.banxin .block4 .block3-b .block3-b-r{
	width: 980px;
	height: 618px;
	float: right;
}
  .banxin .block4 .block3-b .block3-b-r .b01 li{
		 width: 235px;
		 height: 302px;
		 float: left;
		 margin-left: 10px;
		 margin-bottom: 10px;
  }
 
  .banxin .block4 .block3-b .block3-b-r .b01 li a{
	display: block; 
	width: 237px;
	height: 302px;
	background: url(../images/img_05_08.jpg);
}
.banxin .block8 {
	height: 93px;
	width: 1229px;
	margin-top: 30px;
}
.banxin .block8 a{
	display: block;
	height: 93px;
	width: 1235px;
	background: url(../images/img_06_06.jpg);
}




.banxin .block6{
	height: 650px;
	margin-top: 25px;
}
.banxin .block6 .title{
	height: 30px;

}
.banxin .block6 .title span{
	display: inline-block;
	width: 242px;
	height: 25px;
	background: url(../images/img_05_04.jpg);
}
.banxin .block6 .title p{
	float: right;
}
.banxin .block6 .title p a{
	/* display: inline-block; */
	margin-right: 15px;
	font-size: 13px;
	color: #000000;
}
.banxin .block6 .block3-b{
	height: 650px;
}
.banxin .block6 .block3-b .block3-b-l{
	width: 235px;
	height: 618px;
	float: left;
}
.banxin .block6 .block3-b .block3-b-l a{
	display: block;
	width: 235px;
	height: 618px;
	background: url(../images/img_05_15.jpg);
}
.banxin .block6 .block3-b .block3-b-r{
	width: 980px;
	height: 618px;
	float: right;
}
  .banxin .block6 .block3-b .block3-b-r .b01 li{
		 width: 235px;
		 height: 302px;
		 float: left;
		 margin-left: 10px;
		 margin-bottom: 10px;
  }
 
  .banxin .block6 .block3-b .block3-b-r .b01 li a{
	display: block; 
	width: 237px;
	height: 302px;
	background: url(../images/img_05_18.jpg);
}





.banxin .block7{
	height: 650px;
	margin-top: 25px;
}
.banxin .block7 .title{
	height: 30px;

}
.banxin .block7 .title span{
	display: inline-block;
	width: 198px;
	height: 25px;
	background: url(../images/img_06_03.jpg);
}
.banxin .block7 .title p{
	float: right;
}
.banxin .block7 .title p a{
	/* display: inline-block; */
	margin-right: 15px;
	font-size: 13px;
	color: #000000;
}
.banxin .block7 .block3-b{
	height: 650px;
}
.banxin .block7 .block3-b .block3-b-l{
	width: 235px;
	height: 618px;
	float: left;
}
.banxin .block7 .block3-b .block3-b-l a{
	display: block;
	width: 235px;
	height: 618px;
	background: url(../images/img_05_22.jpg);
}
.banxin .block7 .block3-b .block3-b-r{
	width: 980px;
	height: 618px;
	float: right;
}
  .banxin .block7 .block3-b .block3-b-r .b01 li{
		 width: 235px;
		 height: 302px;
		 float: left;
		 margin-left: 10px;
		 margin-bottom: 10px;
  }
 
  .banxin .block7 .block3-b .block3-b-r .b01 li a{
	display: block; 
	width: 237px;
	height: 302px;
	background: url(../images/img_05_24.jpg);
}

.banxin .block8 {
	height: 87px;
	width: 1229px;
	margin-top: 30px;
}
.banxin .block8 a{
	display: block;
	height: 87px;
	width: 1235px;
	background: url(../images/img_05_12.jpg);
}



.banxin .block9{
	height: 650px;
	margin-top: 25px;
}
.banxin .block9 .title{
	height: 30px;

}
.banxin .block9 .title span{
	display: inline-block;
	width: 244px;
	height: 25px;
	background: url(../images/img_06_09.jpg);
}
.banxin .block9 .title p{
	float: right;
}
.banxin .block9 .title p a{
	/* display: inline-block; */
	margin-right: 15px;
	font-size: 13px;
	color: #000000;
}
.banxin .block9 .block3-b{
	height: 650px;
}
.banxin .block9 .block3-b .block3-b-l{
	width: 235px;
	height: 618px;
	float: left;
}
.banxin .block9 .block3-b .block3-b-l a{
	display: block;
	width: 235px;
	height: 618px;
	background: url(../images/img_06_12.jpg);
}
.banxin .block9 .block3-b .block3-b-r{
	width: 980px;
	height: 618px;
	float: right;
}
  .banxin .block9 .block3-b .block3-b-r .b01 li{
		 width: 235px;
		 height: 302px;
		 float: left;
		 margin-left: 10px;
		 margin-bottom: 10px;
  }
 
  .banxin .block9 .block3-b .block3-b-r .b01 li a{
	display: block; 
	width: 237px;
	height: 302px;
	background: url(../images/img_06_15.jpg);
}



.banxin .block10{
	height: 650px;
	margin-top: 25px;
}
.banxin .block10 .title{
	height: 30px;

}
.banxin .block10 .title span{
	display: inline-block;
	width: 149px;
	height: 22px;
	background: url(../images/img_06_19.jpg);
}
.banxin .block10 .title p{
	float: right;
}
.banxin .block10 .title p a{
	/* display: inline-block; */
	margin-right: 15px;
	font-size: 13px;
	color: #000000;
}
.banxin .block10 .block3-b{
	height: 650px;
}
.banxin .block10 .block3-b .block3-b-l{
	width: 235px;
	height: 618px;
	float: left;
}
.banxin .block10 .block3-b .block3-b-l a{
	display: block;
	width: 235px;
	height: 618px;
	background: url(../images/img_06_22.jpg);
}
.banxin .block10 .block3-b .block3-b-r{
	width: 980px;
	height: 618px;
	float: right;
}
  .banxin .block10 .block3-b .block3-b-r .b01 li{
		 width: 235px;
		 height: 302px;
		 float: left;
		 margin-left: 10px;
		 margin-bottom: 10px;
  }
 
  .banxin .block10 .block3-b .block3-b-r .b01 li a{
	display: block; 
	width: 237px;
	height: 302px;
	background: url(../images/img_06_24.jpg);
}

.banxin .block11 {
	height: 87px;
	width: 1229px;
	margin-top: 30px;
}
.banxin .block11 a{
	display: block;
	height: 87px;
	width: 1235px;
	background: url(../images/img_06_28.jpg);
}


.banxin .block12{
	height: 650px;
	margin-top: 25px;
}
.banxin .block12 .title{
	height: 30px;

}
.banxin .block12 .title span{
	display: inline-block;
	width: 297px;
	height: 22px;
	background: url(../images/img_06_30.jpg);
}
.banxin .block12 .title p{
	float: right;
}
.banxin .block12 .title p a{
	/* display: inline-block; */
	margin-right: 15px;
	font-size: 13px;
	color: #000000;
}
.banxin .block12 .block3-b{
	height: 650px;
}
.banxin .block12 .block3-b .block3-b-l{
	width: 235px;
	height: 618px;
	float: left;
}
.banxin .block12 .block3-b .block3-b-l a{
	display: block;
	width: 235px;
	height: 618px;
	background: url(../images/img_06_33.jpg);
}
.banxin .block12 .block3-b .block3-b-r{
	width: 980px;
	height: 618px;
	float: right;
}
  .banxin .block12 .block3-b .block3-b-r .b01 li{
		 width: 235px;
		 height: 302px;
		 float: left;
		 margin-left: 10px;
		 margin-bottom: 10px;
  }
 
  .banxin .block12 .block3-b .block3-b-r .b01 li a{
	display: block; 
	width: 237px;
	height: 302px;
	background: url(../images/img_06_35.jpg);
}