body, html{
	font: 12px "微软雅黑" Arial;
	background: #f5f5f5;
	position: relative;
}
li{
	list-style: none;

}
*{
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, b{
	font-weight: normal;
	font-size: 100%;
}
i, em{
	font-style: normal;
}
a{
	text-decoration: none;
}
input{
	outline: none;
}
.clearfix:after{
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.container{
	width: 1234px;
	margin: 0 auto;
}
#header-wrap{
	
	height: 32px;
	border: 1px solid #e5e5e5;
	background: #f2f2f2;
}
.header{
	
	height: 32px;
	line-height: 32px;
	background: #f2f2f2;
}
.header .login{
	float: left;
}

.header .login .wel{
	font-size: 12px;
	color: #999999;
}
.header .login a{
	font-size: 12px;
	color: #999999;
}
.header .login a:hover{
	color: red;
}
.header ul {
    float: right;
    position: relative;
}
.header ul li{
	float: left;
	margin-right: 16px;
	font-size: 12px;
	color: #999999;
}

.header ul li:nth-child(1) div{
    width: 100px;
    height: 65px;
    padding-left: 8px;
    position: absolute;
    left: 0px;
    top: 33px;
    background: #fff;
    display: none;
}
.header ul li:nth-child(1):hover{
    background: #fff;
}
.header ul li:nth-child(1):hover div{
    background: #fff;
    display: block;
}
.header ul li:nth-child(6):hover{
    background: #fff;
}
.header ul li:nth-child(6):hover div{
    display: block;
}
.header ul li:nth-child(6) div{
    width: 150px;
    height: 170px;
    background: #fff;
    position: absolute;
    left: 283px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    display: none;
}
.header ul li:nth-child(6) div p{
    height: 20px;
    line-height: 20px;
}
.header ul li:nth-child(6) div h5{
    height: 1px;
    border-bottom: 1px dotted #999999;
}
.header ul li:nth-child(6) div span{
    color: #999999;
    font-weight: 700;
}

.header ul li a{
	font-size: 12px;
	color: #999999;
}
.header ul li a:hover{
	color: red;
	/*text-decoration: underline;*/
}
.header ul li .line{
	margin-right: 10px;
}
.header ul li a i{
	font-size: 8px;
	margin-left: 2px;
	
}
.header ul li span{
	color: red;
	margin-right: 3px;
}